<%- include('index.ejs') %>
    <% if (!locals.ohlc || Object.keys(locals.ohlc).length === 0) {%>
        <%- include('e.ejs')%>
    <% } else{%>
            <script>
                document.getElementById('<%=value%>').style.backgroundColor = "gray";
            </script>
        <div id="chart" style="width: 100%;">

        </div>
        </div>
    </div>
    
    <% } %>

    <script src="script.js"></script>
    </body>  
</html>