<%- include('index.ejs') %>
<div class="error">
                    <h1>Oops! Looks like you forgot to enter a stock symbol.</h1>
                </div>
            </div>
        </div>
    </body>   
</html>