<%- include('index.ejs') %>
    <script>
        document.getElementById('predict').style.backgroundColor = "gray";
    </script>
    <iframe src="https://giphy.com/embed/bmQBu3aSF0DxadphkG" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <b>
            Please wait while the data is being generated
        </b>

        </div>
    </div>

    </body>   
</html>